.day-disabled
  color: #70757a

.dot-color
  -webkit-border-radius: 8px
  border-radius: 8px
  border: 4px solid
  height: 0
  width: 0

.reminder-body
  padding: 0 4px
  height: 18px
  line-height: 16px

  .reminder-span
    overflow: hidden

